/*Body and background image*/
body{
	
	font-family: "Open Sans", sans-serif;
		
}
.home-container{
    background-image: url(https://www.pega.com/sites/pega.com/files/banking-case-study-bg.jpg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
    top:0;
    bottom: 0;
	height: 90vh;
	z-index: -10;	
}
.overlay{
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	top:0;
    bottom: 0;
	height: 100%;
	width: 100%;
	z-index: -5;

}
/*Body and background image END*/


/*NAVBAR START*/
.navbar-brand{
	margin-top: -10px;
	
}
.navbar{
	background-color: #fff;
	position: fixed;
	font-weight: 800;
	letter-spacing: -1px;
	margin-top: 20px;
}
.nav li a{
	color: #000;
	font-size: 20px;
		
}
.nav li a:hover {
text-decoration: none;
}

.btn-danger{
	border-radius: 10px;
	font-weight: 800;	
	line-height: 1.7;
	margin-left: 40px;
	font-size: 18px;
	width: 80%;
}

/*NAVBAR  END*/


/*HEADING TEXT START*/
.title{
   
   margin-top: 300px;
   text-align: center;
}
.title h1{
	font-size: 45px;
	line-height: 45px;
	color: #fff;
	font-weight: 800;
	letter-spacing: -1px;
	
}
.title h2{
	font-size: 27px;
	line-height: 27px;
	letter-spacing: -0.5px;
	color: #aaa;

}
.title a{
	color: inherit;
	text-decoration: underline;

}

/*HEADING TEXT END*/

/*LAPTOP row style start*/
#showcase{
	margin-top: 40px;
}
#showcase h1{
	font-size: 40px;
	margin-bottom: 20px;
}
#showcase img{
	width: 95%;
	margin-top: 40px;

}
.showcase-right h1{
	font-size: 31px;
	line-height: 45px;
	color: #333;
	font-weight: 800;
	letter-spacing: -1px;
}
.showcase-right p{
	font-size: 22px;
	line-height: 27px;
	letter-spacing: -0.5px;
	color: #aaa;
}
#showcase .showcase-right{
	margin-top: 90px;
}
.btn{
	background-color: #7ABA05;
	color: #fff;
	border: 2px solid transparent;
	border-radius: 80px;
	font-weight: 800;
	width: 40%;
	font-size: 24px;
	font-size: 20px;
	line-height: 1.7;

}

/*LAPTOP row style END*/
/**---------fotter----------*/
#main-footer{

    background-color: #333;
    text-align: center;
    margin-top: 140px;
}


#main-footer{

    background-color: #333;
    text-align: center;
}
#social-nav{
	
	width: 340px;
	padding: 40px 10px 20px;
	margin:0 auto;
	color: #bfbfbf;
}
#social-nav p{
	
	
	margin-left: 40px;
}
nav ul {
	list-style: none;

}
 nav ul li {
	float: left;
}

#copyright {

	margin-left: 50px;
	color: #666;
}
.logo{
	margin: 10px;
}
.navbar-toggle{
	border: none;
	
}
.navbar-toggle span{
	background-color: #000;
}
/**---------fotter END----------**/
